$font-stack: "Times New Roman", Times, serif;
$base-font-size: 14px;
$primary-color-black: #000000;
$primary-bg-color: #ffffff;

$main-dark-gray: #bbbbbb;
$main-light-gray: #eeeeee;
$main-strong-gray: #7e7e7e;